.navButton {
   padding: 0.7em;
   color: rgb(150, 150, 150);
   border-radius: 0.4em;
   flex: 1;
   font-size: 1.2em;
}

.navActive {
   background: #4E4FEB;
   /*ungu*/
   color: white
}

.header>h1,
.header~div>h1,
.rightcont>div>h1 {
   font-size: 1.7em;
   font-weight: 600;
}

.rightcont>div {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rightcont>div>p,
.rightcont>div>h1 {
   line-height: 1.3
}

.rightcont>div>p {
   color: #61677A;
   font-style: italic;
}

.header>p {
   /*abu*/
   color: #61677A;
   margin-top: 0.2em;
}

.header>p>strong,
.header>p>a {
   color: #4E4FEB;
}

.rightcont {
   display: flex;
   align-items: center;
   gap: 1.5em;
}

.rightcont>img {
   height: 3em
}

.contentcenter>a {
   font-size: 2em;
   color: #b9b9ba;
   padding: 1em 0.3em;
}

.contentcenter>a:hover {
   color: #4E4FEB
}

.mapsummary {
   width: 100%;
}

.mapsummary>tbody>tr {
   border-bottom: 1px solid rgb(230, 230, 230);
}

.mapsummary>thead>tr>th,
.mapsummary>tbody>tr>td {
   padding: 0.5em 1em;
   text-align: center;
}

.mapsummary>tbody>tr>td:first-child {
   text-align: left;
   padding-left: 1em
}

.mapsummary>thead>tr>th {
   padding: 0.75em;
   background: rgb(240, 240, 240);
   color: #61677A;
}