.navButton {
   padding: 0.7em;
   color: rgb(150, 150, 150);
   border-radius: 0.4em;
   flex: 1;
   transition: all 0.3s ease;
   font-size: 1.2em;
}

.navButton:hover {
   background: rgb(220, 220, 220);
}

.navActive,
.navActive:hover {
   background: #4E4FEB;
   /*ungu*/
   color: white
}

.header>h1,
.header~div>h1,
.rightcont>div>h1 {
   font-size: 1.8em;
   font-weight: 600;
}

.rightcont>div {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rightcont>div>p,
.rightcont>div>h1 {
   line-height: 1.3
}

.rightcont>div>p {
   color: #61677A;
   font-style: italic;
}

.header>p {
   /*abu*/
   color: #61677A;
   font-size: 1.1em;
   margin-top: 0.2em;
}

.header {
   position: relative
}

.header>p>strong,
.header>p>a {
   color: #4E4FEB;
}

@keyframes showleft {
   from {
      opacity: 0;
      transform: translateY(-1.5em)
   }

   to {
      opacity: 1;
      transform: translateY(0em)
   }
}

.rightcont {
   display: flex;
   animation: showleft 0.8s ease;
   align-items: center;
   gap: 1.5em;
}

.rightcont>img {
   height: 4em
}

.contentcenter>a {
   font-size: 2em;
   color: #b9b9ba;
   padding: 1em 0.3em;
}

.contentcenter>a:hover {
   color: #4E4FEB
}

.mapsummary {
   width: 100%;
}

.mapsummary>tbody>tr {
   border-bottom: 1px solid rgb(230, 230, 230);
}

.mainnav {
   border-bottom: 1px solid rgb(230, 230, 230);
   box-shadow: 2px 0 6px 0 rgb(240, 240, 240);
}

.mapsummary>thead>tr>th,
.mapsummary>tbody>tr>td {
   padding: 0.5em 1em;
   text-align: center;
}

.togle {
   background: rgb(240, 240, 240);
   height: 2.7em;
   padding: 0.35em 0.4em;
   border-radius: 4em;
   outline: 0.1em solid rgb(230, 230, 230);
   display: inline-block;
   cursor: pointer;
}

.togle>span {
   width: 2em;
   height: 2em;
   display: inline-block;
   border-radius: 20em;
   background: rgb(180, 180, 180);
   transition: all 0.3s ease;
   transform: translateX(0em);
}

.togle>input {
   cursor: pointer;
   display: inline-block;
   opacity: 0;
   height: 2em;
   width: 2em;
   background: rgb(240, 240, 240);
}

.mapsummary>tbody>tr>td:first-child {
   text-align: left;
   padding-left: 1em
}

.mapsummary>thead>tr>th {
   padding: 0.75em;
   background: rgb(240, 240, 240);
   color: #61677A;
}

.navplay {
   cursor: pointer;
   transition: all 0.3s;
   outline: 1px solid rgb(230, 230, 230);
   box-shadow: 0px 0px 8px 0 rgb(230, 230, 230);
}

.navplay>div>h1 {
   font-size: 1.2em;
   font-weight: 600;
   line-height: 1;
   margin-bottom: 0.4em
}

.navplay>div>p {
   color: rgb(150, 150, 150);
   line-height: 1;
}

.navplay:hover {
   background: rgb(245, 245, 245);
}

@keyframes showright {
   from {
      opacity: 0;
      transform: translateX(3em)
   }

   to {
      opacity: 1;
      transform: translateX(0em)
   }
}

.wrapTable {
   animation: showright 1s ease;
}

.mainlink {
   display: flex;
   width: 25em;
   gap: 1em;
   justify-content: center;
   align-items: center;
}

.mainlink>i {
   width: 1.5em;
}

@media screen and (max-width: 512px) {
   .mainhead {
      padding: 1.5em 2em;
   }

   .mainhead>img {
      width: 3em;
      height: 3em
   }

   .mainhead~img {
      top: 2em;
      width: 100%
   }

   .maincenter {
      padding: 2em 3em;
      flex-direction: column-reverse;
      align-items: center;
      font-size: 14px;
   }

   .maincenter>img {
      height: 20em;
      width: auto;
   }

   .maincenter>div {
      width: 100%
   }

   .maincenter>div>h1,
   .maincenter>div>p {
      font-size: 1.2em;
   }

   .maincenter>div>p {
      margin-top: 1.5em
   }

   .maincenter>div>h1:nth-child(2) {
      font-size: 2.2em;
   }

   .mainlink {
      width: 100%;
      padding: 1em 1.5em;
   }

   .mainlink span {
      width: 100%;
      text-align: center;
      font-size: 1.2em;
   }

   .mainfooter {
      padding: 1em;
   }

   .mainfooter p {
      font-size: 1em;
   }

   .mainfooter p span {
      display: block;
   }
}