@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #272829;
}

@keyframes bounce {
  0% {
    transform: translateY(0.1em);
  }

  50% {
    transform: translateY(-0.3em);
  }

  100% {
    transform: translateY(0.1em);
  }
}

.loadinganimate {
  animation: bounce 2s infinite;
}